# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Other folders
.codex

# Nodejs video download
video_js_download/node_modules
nodejs_extract_links/node_modules
react_question_wizard/node_modules
bashscriptexecutor/src/main/java/com/tbc/*.class
bashscriptexecutor/target

# pinterest image download 
pinterest_image_download/.venv_pinterest
pinterest_image_download/images
pinterest_image_download/.agents
pinterest_image_download/__pycache__

#playwright pinterest download images
pinterest_image_playwright_download/.auth
pinterest_image_playwright_download/images
pinterest_image_playwright_download/__pycache__
pinterest_image_playwright_download/.venv
pinterest_image_playwright_download/.codex
pinterest_image_playwright_download/.agents